* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    }
    
    /*format answer spaces*/
    .answer {
        background-color: rgb(252, 8, 195);
        border: 5px solid aquamarine;
        cursor: pointer;
        width: 300px;
        padding: 10px;
        margin: auto;
        border-radius: 10px;
    display: none;
    }
    
    
    /*format miscellaneous elements*/
    header {
        background-color:  rgb(252, 8, 195);
        text-align: center;
        color:aquamarine
    }
    
    #timer {
        position: absolute;
        right: 50px;
        top: 50px;
    }
    
    #cancel {
        display: none;
    }
    
    #submit {
        display: none;
    }
    
    main {
        margin-top: 100px;
        text-align: center;
    }
    
    form {
        display: none;
    }
    
    #quiz {
        text-align: center;
    }
    
    h3 {
        text-align: center;
    }
    
    #clear {
        display: none;
    }
    
    /*format buttons*/
    button {
        text-align: center;
        padding: 5px;
        background-color:  rgb(252, 8, 195);
        border: 2px dotted aquamarine;
        color: aquamarine;
        border-radius: 5px;
    }